nav {
  width: 85.1%;
  margin: 0%;
  padding: 0px 100px;
  background-color: rgba(0, 0, 0, 0.768627451);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
@media screen and (max-width: 1165px) {
  nav {
    width: 87.5%;
    margin: 0%;
    padding: 10px 50px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    width: 91%;
    margin: 0%;
    padding: 5px 20px;
  }
}
nav ul {
  display: flex;
  position: relative;
}
nav ul li {
  list-style: none;
  margin-left: 70px;
}
@media screen and (max-width: 600px) {
  nav ul li {
    margin-left: 10px;
  }
}
nav ul li:hover .dropdown {
  display: block;
}
nav .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  nav .logo {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
}
nav .dropdown {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.768627451);
  margin: 0%;
  padding: 13px 10px;
  left: 100;
  border-radius: 0px 0px 5px 5px;
}
nav .dropdown li {
  margin: 0%;
  padding: 7px 0px;
}
nav a {
  color: white;
  text-decoration: none;
  position: relative;
}
@media screen and (max-width: 600px) {
  nav a {
    font-size: 12px;
  }
}
nav a::before {
  content: "";
  background-color: #FF8639;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  transition: 0.3s;
}
nav a:hover::before {
  width: 100%;
}
nav a:hover {
  color: #FF8639;
}

@media screen and (max-width: 600px) {
  .f-back {
    margin-top: 60px;
    margin-bottom: 0px;
  }
}

.costumer-feedback {
  display: flex;
  justify-content: space-between;
  margin: 25px 100px 100px 100px;
}
@media screen and (max-width: 1165px) {
  .costumer-feedback {
    margin: 1px 50px 50px 50px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .costumer-feedback {
    margin: 1px 20px 20px 20px;
    height: 630px;
    display: flex;
    flex-wrap: wrap;
  }
}
.costumer-feedback .costumer {
  background-color: black;
  display: flex;
  width: 31%;
  height: 165px;
  margin: 0%;
  padding: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 1165px) {
  .costumer-feedback .costumer {
    margin-top: 30px;
    padding: 20px;
    width: 43%;
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .costumer-feedback .costumer {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: 150px;
  }
}
.costumer-feedback .costumer img {
  width: 100px;
  height: 165px;
  border-radius: 7px;
}
@media screen and (max-width: 1165px) {
  .costumer-feedback .costumer img {
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .costumer-feedback .costumer img {
    height: 150px;
  }
}
.costumer-feedback .costumer img:hover {
  width: 110px;
  height: 175px;
}
@media screen and (max-width: 1165px) {
  .costumer-feedback .costumer img:hover {
    height: 160px;
  }
}
@media screen and (max-width: 600px) {
  .costumer-feedback .costumer img:hover {
    height: 160px;
  }
}
.costumer-feedback .costumer .feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-end;
  width: 100%;
  margin: 0%;
  padding: 10px;
}
@media screen and (max-width: 1165px) {
  .costumer-feedback .costumer .feedback {
    justify-content: center;
    align-items: self-end;
  }
}
.costumer-feedback .costumer .feedback p {
  text-align: justify;
}
@media screen and (max-width: 1165px) {
  .costumer-feedback .costumer .feedback p {
    font-size: 14px;
  }
}
.costumer-feedback .costumer .feedback i {
  color: #FFA950;
}
@media screen and (max-width: 1165px) {
  .costumer-feedback .costumer .feedback i {
    width: 10px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 1165px) {
  .costumer-feedback .costumer3 {
    margin-left: 26%;
  }
}
@media screen and (max-width: 600px) {
  .costumer-feedback .costumer3 {
    margin-left: 0%;
  }
}

footer {
  background-color: black;
  padding: 0px 100px;
}
@media screen and (max-width: 1165px) {
  footer {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  footer {
    padding: 10px 20px;
  }
}
footer .footer-container1 {
  display: flex;
  justify-content: space-between;
}
footer .footer-container1 .footer-logo {
  width: 200px;
  height: 100px;
}
@media screen and (max-width: 1165px) {
  footer .footer-container1 .footer-logo {
    width: 150px;
    height: 70px;
  }
}
@media screen and (max-width: 600px) {
  footer .footer-container1 .footer-logo {
    width: 60px;
    height: 30px;
  }
}
footer .footer-container1 div {
  display: flex;
  justify-content: center;
}
footer .footer-container1 .content {
  margin-top: 60px;
}
@media screen and (max-width: 1165px) {
  footer .footer-container1 .content {
    margin-top: 47px;
  }
}
@media screen and (max-width: 600px) {
  footer .footer-container1 .content {
    margin-top: 20px;
  }
}
footer .footer-container1 .content a {
  margin: 0px 10px;
}
@media screen and (max-width: 1165px) {
  footer .footer-container1 .content a {
    margin: 0px 5px;
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  footer .footer-container1 .content a {
    margin: 0px 2.5px;
    font-size: 8px;
  }
}
footer .footer-container1 .social img {
  width: 30px;
  margin: 0px 10px;
  margin-top: 45px;
}
@media screen and (max-width: 1165px) {
  footer .footer-container1 .social img {
    width: 20px;
    margin: 0px 5px;
    margin-top: 45px;
  }
}
@media screen and (max-width: 600px) {
  footer .footer-container1 .social img {
    width: 15px;
    margin: 0px 2.5px;
    margin-top: 15px;
  }
}
footer .footer-container1 .social .tw {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  margin-top: 35px;
}
@media screen and (max-width: 1165px) {
  footer .footer-container1 .social .tw {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    margin-top: 38px;
  }
}
@media screen and (max-width: 600px) {
  footer .footer-container1 .social .tw {
    width: 25px;
    height: 25px;
    margin: 0px 2.5px;
    margin-top: 11px;
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body {
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: black;
  background-image: url(/image/home/coffee-shop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 0%;
  margin: 0%;
}

.bg {
  width: 100%;
  height: 100vh;
  background: url(/image/home/homepage-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0%;
  margin: 0%;
}
@media screen and (max-width: 1165px) {
  .bg {
    background-image: url(/image/home/temblet-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1180px;
  }
}
@media screen and (max-width: 600px) {
  .bg {
    background-image: url(/image/home/moble-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
  }
}

#about-us {
  text-align: center;
  margin-top: 100px;
  color: white;
}
#about-us span {
  color: #FF8639;
}
@media screen and (max-width: 1165px) {
  #about-us {
    margin-top: 70px;
  }
}
@media screen and (max-width: 600px) {
  #about-us {
    margin-top: 50px;
  }
}

.aboutus {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
  background-color: black;
}
@media screen and (max-width: 1165px) {
  .aboutus {
    margin: 50px;
  }
}
@media screen and (max-width: 600px) {
  .aboutus {
    margin: 20px;
  }
}
.aboutus .description {
  width: 48%;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .aboutus .description {
    padding: 10px;
  }
}
.aboutus .description h2 {
  color: white;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .aboutus .description h2 {
    font-size: 20px;
  }
}
.aboutus .description p {
  font-size: 22px;
  text-align: justify;
  margin: 0%;
  color: white;
}
@media screen and (max-width: 600px) {
  .aboutus .description p {
    font-size: 12px;
  }
}
.aboutus .enviroment {
  width: 48%;
  height: 55vh;
  border-radius: 5px;
}
@media screen and (max-width: 1165px) {
  .aboutus .enviroment {
    height: 40vh;
  }
}
@media screen and (max-width: 600px) {
  .aboutus .enviroment {
    height: 35vh;
  }
}
.aboutus .enviroment:hover {
  width: 55%;
  height: 60vh;
}
@media screen and (max-width: 1165px) {
  .aboutus .enviroment:hover {
    height: 45vh;
  }
}
@media screen and (max-width: 600px) {
  .aboutus .enviroment:hover {
    height: 40vh;
  }
}

.product-title {
  margin-top: 0px;
}
.product-title span {
  color: #FFA950;
}

.slide-container {
  width: 100%;
}
.slide-container .product-slide {
  margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (max-width: 1165px) {
  .slide-container .product-slide {
    margin: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
@media screen and (max-width: 600px) {
  .slide-container .product-slide {
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.slide-container .product-slide div {
  background-color: black;
  border-radius: 5px;
}
@media screen and (max-width: 1165px) {
  .slide-container .product-slide div {
    padding: 0%;
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .slide-container .product-slide div {
    padding: 0%;
    width: 48%;
  }
}
.slide-container .product-slide div img {
  width: 250px;
  height: 240px;
  border-radius: 5px 5px 0px 0px;
}
@media screen and (max-width: 1165px) {
  .slide-container .product-slide div img {
    width: 100%;
    height: 300px;
    padding: 0%;
  }
}
@media screen and (max-width: 600px) {
  .slide-container .product-slide div img {
    width: 100%;
    height: 150px;
  }
}
.slide-container .product-slide div img:hover {
  width: 280px;
  height: 270px;
}
@media screen and (max-width: 1165px) {
  .slide-container .product-slide div img:hover {
    width: 360px;
    height: 320px;
  }
}
@media screen and (max-width: 600px) {
  .slide-container .product-slide div img:hover {
    width: 200px;
    height: 170px;
  }
}
.slide-container .product-slide div p {
  text-align: center;
  color: #FF8639;
}
@media screen and (max-width: 600px) {
  .slide-container .product-slide div p {
    font-size: 12px;
  }
}

.promo-container {
  margin: 100px;
}
@media screen and (max-width: 1165px) {
  .promo-container {
    margin: 50px 50px 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  .promo-container {
    margin: 30px 20px 0px 20px;
  }
}
.promo-container span {
  color: #FFA950;
}
.promo-container .promo {
  display: flex;
  justify-content: space-between;
  height: 450px;
  margin-top: 0px;
  padding-top: 10px;
}
@media screen and (max-width: 600px) {
  .promo-container .promo {
    display: flex;
    flex-direction: column;
    height: 640px;
    row-gap: 20px;
  }
}
.promo-container .promo img {
  border-radius: 10px;
}
@media screen and (max-width: 1165px) {
  .promo-container .promo .promotion {
    width: 45%;
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  .promo-container .promo .promotion {
    width: 100%;
    height: 350px;
  }
}
.promo-container .promo .promotion:hover {
  width: 520px;
  height: 470px;
}
@media screen and (max-width: 1165px) {
  .promo-container .promo .promotion:hover {
    width: 320px;
    height: 370px;
  }
}
@media screen and (max-width: 600px) {
  .promo-container .promo .promotion:hover {
    width: 410px;
    height: 370px;
  }
}
@media screen and (max-width: 1165px) {
  .promo-container .promo .limit {
    width: 52%;
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  .promo-container .promo .limit {
    width: 100%;
    height: 350px;
  }
}
.promo-container .promo .limit:hover {
  width: 610px;
  height: 470px;
}
@media screen and (max-width: 1165px) {
  .promo-container .promo .limit:hover {
    width: 410px;
    height: 370px;
  }
}

.f-back span {
  color: white;
}