nav {
  margin: 0%;
  padding: 10px 100px;
  background-color: rgba(58, 58, 58, 0.8784313725);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  position: relative;
}
nav ul li {
  list-style: none;
  margin-left: 70px;
}
nav ul li:hover .dropdown {
  display: block;
}
nav .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
nav .dropdown {
  display: none;
  position: absolute;
  background-color: rgba(121, 118, 118, 0.5333333333);
  margin: 0%;
  padding: 13px 10px;
  left: 100;
  border-radius: 0px 0px 5px 5px;
}
nav .dropdown li {
  margin: 0%;
  padding: 7px 0px;
}
nav a {
  color: white;
  text-decoration: none;
  position: relative;
}
nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}
nav a:hover::before {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 430px) {
  nav {
    padding: 10px 10px;
  }
  nav ul {
    display: flex;
    position: relative;
  }
  nav ul li {
    list-style: none;
    margin-left: 20px;
  }
  nav ul li:hover .dropdown {
    display: block;
  }
  nav .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  nav .dropdown {
    display: none;
    position: absolute;
    background-color: rgba(121, 118, 118, 0.5333333333);
    margin: 0%;
    padding: 13px 10px;
    left: 100;
    border-radius: 0px 0px 5px 5px;
  }
  nav .dropdown li {
    margin: 0%;
    padding: 7px 0px;
  }
  nav .dropdown li a {
    font-size: 12px;
  }
}
.costumer-feedback {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}
.costumer-feedback .costumer {
  background-color: rgb(26, 25, 25);
  display: flex;
  width: 31%;
  height: 165px;
  margin: 0%;
  padding: 10px;
  border-radius: 10px;
}
.costumer-feedback .costumer img {
  width: 100px;
  height: 165px;
  border-radius: 7px;
}
.costumer-feedback .costumer .feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-end;
  width: 100%;
  margin: 0%;
  padding: 10px;
}
.costumer-feedback .costumer .feedback p {
  text-align: justify;
}
.costumer-feedback .costumer .feedback i {
  color: rgb(212, 212, 7);
}

@media (min-width: 431px) and (max-width: 834px) {
  .costumer-feedback {
    margin: 100px 50px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
  }
  .costumer-feedback .costumer {
    margin-top: 30px;
    padding: 20px;
    width: 43%;
    height: 150px;
  }
  .costumer-feedback .costumer img {
    height: 150px;
  }
  .costumer-feedback .costumer .feedback {
    justify-content: center;
    align-items: self-end;
  }
  .costumer-feedback .costumer .feedback p {
    font-size: 14px;
  }
  .costumer-feedback .costumer .feedback i {
    width: 10px;
    margin-left: 5px;
  }
  .costumer-feedback .custumer3 {
    margin-left: 26%;
  }
}
@media (min-width: 0px) and (max-width: 430px) {
  .costumer-feedback {
    margin: 80px 20px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
  }
  .costumer-feedback .costumer {
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    height: 150px;
  }
  .costumer-feedback .costumer img {
    height: 150px;
  }
  .costumer-feedback .costumer .feedback {
    justify-content: center;
    align-items: self-end;
  }
  .costumer-feedback .costumer .feedback p {
    font-size: 14px;
  }
  .costumer-feedback .costumer .feedback i {
    width: 10px;
    margin-left: 5px;
  }
}
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px 30px 30px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.content a {
  margin: 0px 20px;
}

.social {
  margin-top: 30px;
}
.social img {
  width: 30px;
  margin: 0px 20px;
}
.social .tw {
  width: 40px;
  margin: 0px 20px;
}

.line p {
  color: white;
}

@media (min-width: 0px) and (max-width: 430px) {
  footer {
    padding: 30px 20px 30px 20px;
  }
  footer a {
    font-size: 10px;
  }
  footer .content a {
    margin: 0px 10px;
  }
  footer .social {
    margin-top: 20px;
  }
  footer .social img {
    width: 30px;
    margin: 0px 20px;
  }
  footer .social .tw {
    width: 40px;
    margin: 0px 20px;
  }
}
body {
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: black;
}

.bg {
  width: 100%;
  height: 100vh;
  background: url(/image/home/homepage-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#about-us {
  text-align: center;
  margin-top: 100px;
  color: white;
}
#about-us span {
  color: #FF8639;
}

.aboutus {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
  background-color: rgba(19, 18, 18, 0.87);
}
.aboutus .description {
  width: 48%;
  padding: 20px;
}
.aboutus .description h2 {
  color: white;
  text-align: left;
}
.aboutus .description p {
  font-size: 22px;
  text-align: justify;
  margin: 0%;
  color: white;
}
.aboutus .enviroment {
  width: 48%;
  height: 55vh;
  border-radius: 5px;
}

.product-title {
  margin-top: 50px;
}
.product-title span {
  color: #FF8639;
}

.slide-container {
  width: 100%;
  position: relative;
}
.slide-container .product-slide {
  margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.slide-container .product-slide div {
  background-color: rgba(19, 18, 18, 0.87);
  padding: 20px;
  border-radius: 5px;
}
.slide-container .product-slide div img {
  width: 225px;
  height: 225px;
  border-radius: 5px;
}
.slide-container .product-slide div p {
  text-align: center;
}

.promo-container {
  margin: 100px;
}
.promo-container span {
  color: #FFA950;
}
.promo-container .promo {
  display: flex;
  justify-content: space-between;
  height: 450px;
  margin-top: 20px;
  padding-top: 30px;
}
.promo-container .promo img {
  border-radius: 10px;
}

@media (min-width: 0px) and (max-width: 430px) {
  .bg {
    width: 430px;
    height: 20vh;
  }
  .aboutus {
    margin: 20px;
    height: 775px;
  }
  .aboutus .description p {
    font-size: 20px;
  }
  .aboutus .enviroment {
    height: 65vh;
  }
  .product-title {
    margin: 100px 0px 50px 20px;
  }
  .slide-container .product-slide {
    margin: 0px 20px;
  }
  .slide-container .product-slide div img {
    width: 120px;
    height: 120px;
  }
  .slide-container .product-slide div p {
    font-size: 14px;
  }
  .slide-container .product-slide .milk-tea {
    margin-left: 15px;
  }
  .slide-container .product-slide .bakery {
    margin-left: 15px;
  }
  .slide-container i {
    display: none;
  }
}