nav {
  margin: 0%;
  padding: 10px 100px;
  background-color: rgba(121, 118, 118, 0.5333333333);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  position: relative;
}
nav ul li {
  list-style: none;
  margin-left: 70px;
}
nav ul li:hover .dropdown {
  display: block;
}
nav .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
nav .dropdown {
  display: none;
  position: absolute;
  background-color: rgba(121, 118, 118, 0.5333333333);
  margin: 0%;
  padding: 13px 10px;
  left: 100;
  top: 100%;
  border-radius: 0px 0px 5px 5px;
}
nav .dropdown li {
  margin: 0%;
  padding: 7px 0px;
}
nav a {
  color: white;
  text-decoration: none;
  position: relative;
}
nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}
nav a:hover::before {
  width: 100%;
}

.costumer-feedback {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}
.costumer-feedback .costumer {
  background-color: rgb(146, 135, 135);
  display: flex;
  width: 31%;
  height: 165px;
  margin: 0%;
  padding: 10px;
}
.costumer-feedback .costumer img {
  width: 100px;
  height: 165px;
}
.costumer-feedback .costumer .feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-end;
  width: 100%;
  margin: 0%;
  padding: 10px;
}
.costumer-feedback .costumer .feedback i {
  color: rgb(212, 212, 7);
}

footer {
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.content a {
  margin: 0px 20px;
}

.social {
  margin-top: 30px;
}
.social img {
  width: 30px;
  margin: 0px 20px;
}
.social .tw {
  width: 40px;
  margin: 0px 20px;
}

.line p {
  color: white;
}

body {
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(/image/home/transparent.png);
}

.bg {
  width: 100%;
  height: 80vh;
  background: url(/image/home/background-website.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutus {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}
.aboutus .description {
  width: 45%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutus .description p {
  font-size: 22px;
  margin: 0%;
}
.aboutus .description .costumer {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.aboutus .enviroment {
  width: 45%;
  height: 100vh;
  border-radius: 5px;
}

.product-title {
  margin: 100px 0px 50px 100px;
}

.slide-container {
  width: 100%;
  width: 100%;
  position: relative;
}
.slide-container .product-slide {
  margin: 0px 150px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.slide-container .product-slide div img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.slide-container .product-slide div p {
  text-align: center;
}
.slide-container i {
  width: 50px;
  height: 50px;
  background: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgb(0, 0, 0);
  cursor: pointer;
  margin: 0px 50px;
}
.slide-container i:first-child {
  left: -22px;
  margin-left: 100px;
}
.slide-container i:last-child {
  right: -22px;
  margin-right: 100px;
}

.promotion-container {
  margin: 100px;
}
.promotion-container h2 {
  margin-bottom: 50px;
}
.promotion-container .promotion {
  display: flex;
  justify-content: space-between;
}
.promotion-container .promotion div {
  width: 30%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.164);
  border-radius: 10px;
}
.promotion-container .promotion .coupon {
  background-image: url(/image/home/coupon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.promotion-container .promotion .coupon .coupon-p1 {
  margin: 100px 10px 10px 0px;
  font-size: 36px;
  text-align: center;
}
.promotion-container .promotion .coupon .coupon-p2 {
  font-size: 36px;
  margin: 40px 10px 10px 0px;
  text-align: center;
}
.promotion-container .promotion .count {
  background-image: url(/image/home/buy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.promotion-container .promotion .count .coupon-p1 {
  margin: 60px 10px 10px 0px;
  font-size: 36px;
  text-align: center;
}
.promotion-container .promotion .count .coupon-p2 {
  font-size: 36px;
  margin: 45px 10px 10px 0px;
  text-align: center;
}
.promotion-container .promotion .descript {
  background-image: url(/image/home/descript.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.promotion-container .promotion .descript p {
  font-size: 24px;
  width: 45%;
  margin-top: 130px;
  margin-left: 110px;
}