nav {
  width: 85.1%;
  margin: 0%;
  padding: 10px 100px;
  background-color: rgba(58, 58, 58, 0.8784313725);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
nav ul {
  display: flex;
  position: relative;
}
nav ul li {
  list-style: none;
  margin-left: 70px;
}
nav ul li:hover .dropdown {
  display: block;
}
nav .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
nav .dropdown {
  display: none;
  position: absolute;
  background-color: rgba(121, 118, 118, 0.5333333333);
  margin: 0%;
  padding: 13px 10px;
  left: 100;
  border-radius: 0px 0px 5px 5px;
}
nav .dropdown li {
  margin: 0%;
  padding: 7px 0px;
}
nav a {
  color: white;
  text-decoration: none;
  position: relative;
}
nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}
nav a:hover::before {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 430px) {
  nav {
    padding: 10px 10px;
  }
  nav ul {
    display: flex;
    position: relative;
  }
  nav ul li {
    list-style: none;
    margin-left: 20px;
  }
  nav ul li:hover .dropdown {
    display: block;
  }
  nav .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  nav .dropdown {
    display: none;
    position: absolute;
    background-color: rgba(121, 118, 118, 0.5333333333);
    margin: 0%;
    padding: 13px 10px;
    left: 100;
    border-radius: 0px 0px 5px 5px;
  }
  nav .dropdown li {
    margin: 0%;
    padding: 7px 0px;
  }
  nav .dropdown li a {
    font-size: 12px;
  }
}
body {
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}

footer {
  background-color: black;
  padding: 0px 100px;
}
footer .footer-container1 {
  display: flex;
  justify-content: space-between;
}
footer .footer-container1 .footer-logo {
  width: 200px;
  height: 100px;
}
footer .footer-container1 div {
  display: flex;
  justify-content: center;
}
footer .footer-container1 .content {
  margin-top: 60px;
}
footer .footer-container1 .social img {
  width: 30px;
  margin: 0px 10px;
  margin-top: 45px;
}
footer .footer-container1 .social .tw {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  margin-top: 35px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.content a {
  margin: 0px 10px;
}

@media (min-width: 0px) and (max-width: 430px) {
  footer {
    padding: 30px 20px 30px 20px;
  }
  footer a {
    font-size: 10px;
  }
  footer .content a {
    margin: 0px 10px;
  }
  footer .social {
    margin-top: 20px;
  }
  footer .social img {
    width: 30px;
    margin: 0px 20px;
  }
  footer .social .tw {
    width: 40px;
    margin: 0px 20px;
  }
}
body {
  background-color: rgb(226, 226, 226);
}

.bg {
  width: 100%;
  height: 85vh;
  background: url(/image/menu/menu_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bestseller {
  margin: 100px;
}
.bestseller .best {
  background-color: white;
  width: 40%;
  padding: 20px;
  display: flex;
}
.bestseller img {
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.menu-hot-coffee {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  text-align: center;
}
.menu-hot-coffee div {
  margin: 50px;
  background-color: white;
  width: 300px;
  height: 420px;
}
.menu-hot-coffee div img {
  width: 200px;
}
.menu-hot-coffee div h3 {
  font-size: medium;
}
.menu-hot-coffee div .hotcup {
  margin-top: 85px;
  width: 160px;
}
.menu-hot-coffee div .poun {
  margin-top: 70px;
}

@media (max-width: 768px) {
  body {
    background-color: rgb(167, 81, 81);
  }
  .bg {
    width: 800px;
    height: 300px;
  }
  .navbar .logo {
    margin-left: 100px;
  }
  .bestseller .best {
    font-size: 7px;
    width: 290px;
  }
  .bestseller img {
    width: 150px;
    margin-left: 0px;
  }
  .menu-hot-coffee {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 0px;
    text-align: center;
  }
  .menu-hot-coffee div {
    margin-left: 0px;
    background-color: white;
    width: 180px;
    height: 320px;
  }
  .menu-hot-coffee div img {
    width: 100px;
  }
  .menu-hot-coffee div .hotcup {
    margin-top: 30px;
    width: 100px;
    height: 80px;
  }
  .menu-hot-coffee div .espresso {
    width: 100px;
  }
  .menu-hot-coffee div h3 {
    font-size: 15px;
  }
  .menu-hot-coffee .div-line-1 {
    margin-left: 55px;
  }
  .menu-hot-coffee .four {
    width: 100px;
  }
  h1 {
    font-size: 20px;
  }
}