.navbar {
  background-color: rgba(97, 94, 94, 0.4784313725);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.navbar .logo {
  width: 50px;
  height: auto;
  margin-left: 100px;
  border-radius: 50%;
}
.navbar .ul-nav {
  display: flex;
  list-style: none;
  margin-right: 50px;
}
.navbar .ul-nav i {
  position: relative;
}
.navbar a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
  position: relative;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}
.navbar a:hover::before {
  width: 100%;
}
.navbar .dropdown_menu {
  display: none;
}
.navbar .dropdown_menu ul {
  background-color: rgba(97, 94, 94, 0.4784313725);
  display: block;
  margin: 0%;
  padding: 10px;
}
.navbar .dropdown_menu ul li {
  list-style: none;
  margin: 0%;
  padding: 10px;
}
.navbar .dropdown_menu ul li a {
  margin: 0%;
  padding: 0%;
  text-align: center;
}
.navbar .dropdown_menu ul li:hover {
  display: block;
  position: absolute;
  left: 75%;
  top: 100%;
}

body {
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}

footer {
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.content a {
  margin: 0px 20px;
}

.social {
  margin-top: 30px;
}
.social img {
  width: 30px;
  margin: 0px 20px;
}
.social .tw {
  width: 40px;
  margin: 0px 20px;
}

.line p {
  color: white;
}

body {
  background-color: rgb(226, 226, 226);
}

.bg {
  width: 100%;
  height: 85vh;
  background: url(/image/menu/menu_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bestseller {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}
.bestseller .best {
  background-color: white;
  width: 40%;
  padding: 20px;
  display: flex;
}
.bestseller img {
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.menu-hot-coffee {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  text-align: center;
}
.menu-hot-coffee div {
  margin: 50px;
  background-color: white;
  width: 300px;
}
.menu-hot-coffee div img {
  width: 200px;
}
.menu-hot-coffee div .hotcup {
  margin-top: 85px;
}