@import "compponent/nav";
@import "compponent/variable";
@import "main";
@import "compponent/footer";
body{
    background-color: $menu-color ;
}
.bg{
    width: 100%;
    height: 85vh;
    background: url(/image/menu/cakesss.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
    @include responsive('tablet') {
        height: 30vh;
       
    }
    @include responsive('mobile') {
        height: 45vh;
        padding-top: 30px;
       
    }
}
.bestseller{
    margin: 100px;
    display: flex;
    @include responsive('mobile') {
        margin-left: 0px;
        
       
     }
    .best2{
    margin-left:110px ;
    }
    .best1{
        margin-left: 15px;
    }
    .best{
        background-color: $text-color;
        width: 40%;
        padding: 20px;
        display: flex;
        margin-top: 20px;
        @include responsive('tablet') {
            width: 75%;
        }
        @include responsive('mobile') {
            width: 327px;
            margin-left: 10px;

           
         }

    }
    img{
        width: 170px;
        height: 170px;
        margin-left: 50px;
        margin-top: 110px;
        @include responsive('mobile') {
            height: 150px;
            margin-left: 0px;
            margin-top: 80px;
          
        }
    }
}
h1{
    text-align: center;
}
.menu-hot-coffee  {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    text-align: center;
    div{
        margin: 50px;
        background-color: $text-color;
        width: 300px;
        height: 420px;
        @include responsive('tablet') {
            width: 250px;
        }
        @include responsive('mobile') {
         margin-left: 0px;
            
           
         }
        img{
            width: 200px;
        }
        h3{
            font-size:medium ;
        }
        .hotcup {
            margin-top: 85px;
            width: 160px;
            
        }
        .nitro{
            margin-top: 10px;
        }
        .espresso{
            height:210px;
        }
        .thailand{
            margin-top: 8px;
        }
        .europe{
            height: 190px;
            width: 300px;
            margin-top: 26px;
        }
        .blackforest{
            margin-top: 67px;
            margin-bottom: 50px;
            width: 120px;
            height: 120px;
        }
        .greens{
            width: 150px;
            margin-top: 12px;
        }
        .trav{
            width: 150px;
            margin-top: 29px;
        }
        .papaya{
            height: 200px;
            margin-top: 8px;
           
        }
        .choco{
            width: 150px;
            margin-top: 13px;
        }
        .depth{
            width: 135px;
            margin-top: 45px;
        }
        .orange{
            width: 110px;
            margin-top: 43px;
        }
        .matcha{
            width: 126px;
            height: 160px;
            margin-top: 50px;
        }
       
    }
  
}
div{
    border-radius: 10px;
}
