






.bg {
    width: 100%;
    height: 100vh;
    background: url(/image/contactus/contactus_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact {
    display: flex;
    padding-right: 100px;
    .news {
        background-color: rgba(244, 165, 96, 0.123);
        width: 350px;
        height: 170px;
        padding: 25px 10px 15px 10px;
        margin: 100px;

        h3 {
            color: white;
            font-size: 30px;
            justify-content: center;
            text-align: center;
        }

        p {
            color: white;
            font-size: 13px;
        }
    }

    form {
        width: 400px;
        margin: 40px;

        h3 {
            color: white;
            justify-content: center;
            text-align: center;
        }

        .index-Box {
            color: white;
            width: 84%;
            margin: 10px 0 0 21px;
            h4{
                padding: 5px 0;
                margin: 0px;
            }
            
            input {
                width: 100%;
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid white;
                border-radius: 5px;
                padding: 10px;
            }

            #messege {
                height: 10vh;
            }
        }

        .rating-star {
            h4 {
                color: white;
                padding: 10px 0 0 23px;
                margin: 0;
            }

            .rating {
                width: 150px;
                display: flex;
                margin: 5px 0 0 23px;
            }
        }

        button {
            background-color: rgba(0, 0, 0, 0);
            color: white;
            width: 89%;
            font-size: 15px;
            font-weight: bold;
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 21px;
        }
    }
}