@import "compponent/nav";
@import "compponent/home-card";
@import "compponent/footer";
@import "main";

.bg{
    width: 100%;
    height: 80vh;
    background: url(/image/home/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutus{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    .description{
        width: 45%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-size: 22px;
            margin: 0%;
            
        }
        .costumer{
            width: 100%;
            height: auto;
        }
    }
    .enviroment{
        width: 45%;
        height: 100vh;
    }
}
.product-title{
    margin: 100px 0px 50px 100px;
}
.slide-container{
    width: 1100px;
    width: 100%;
    position: relative;
    .product-slide{
        margin: 0px 100px;
        display: grid;
        grid-auto-flow: column;
        column-gap: 50px;
        overflow: hidden;
        div{
            img{
                width: 350px;
                height: 300px;
                border-radius: 5px;
            }
            p{
                text-align: center;
            }
        }
    
    }
    i{
        width: 50px;
        height: 50px;
        background: whitesmoke;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 50%;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        font-size: 1.25rem;
        transform: translateY(-50%);
        box-shadow: 0 3px 6px rgb(0, 0, 0);
        cursor: pointer;
        margin: 0px 50px;

    }
    i:first-child{
        left: -22px;
    }
    i:last-child{
        right: -22px;
    }
}
.quote-container{
    margin: 100px;
    display: flex;
    justify-content: space-between;
    .person{
        width: 45%;
        
    }
    .quote{
        display: flex;
        align-items: center;
        width: 45%;
        font-size: 24px;

    }
}
