@import "compponent/nav";
@import "compponent/home-card";
@import "compponent/footer";
@import "main";
body{
    background-color: black;
}
.bg{
    width: 100%;
    height: 100vh;
    background: url(/image/home/homepage-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

// ------------------------- About us --------------

#about-us{
    text-align: center;
    margin-top: 100px;
    color: white;
    span{
        color: #FF8639;
    }
    
}
.aboutus{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    background-color: rgba(19, 18, 18, 0.87);
    .description{
        width: 48%;
        padding: 20px;
        h2{
            color: white;
            text-align: left;
        }
        p{
            font-size: 22px;
            text-align: justify;
            margin: 0%;
            color: white;
        }
    }

    .enviroment{
        width: 48%;
        height: 55vh;
        border-radius: 5px;
    }
}

// ---------------------------------- Product ----------------------


.product-title{
    span{
        color: #FFA950;
    }
   
  margin-top: 50px;
}
.slide-container{
    width: 100%;
    position: relative;
    .product-slide{
        margin: 0px 100px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        div{
            background-color: rgba(19, 18, 18, 0.87);
            padding: 20px;
            border-radius: 5px;
            img{
                width: 225px;
                height: 225px;
                border-radius: 5px;
            }
            p{
                text-align: center;
            }
        }
    
    }

}

//--------------------- Promotion ---------------



// }
.promo-container{
    margin: 100px;
    span{
        color: #FFA950;
    }
    .promo{
        display: flex;
        justify-content: space-between;
        height: 450px;
        margin-top: 20px;
        padding-top: 30px;
        img{
            border-radius: 10px;
        }
    }
 
    


}
@media(min-width:0px) and (max-width:430px){

    .bg{
        width: 430px;
        height: 20vh;
    }

    //-------------------- Aboutus ----------------

    .aboutus{
        margin: 20px;
        height: 775px;
        .description{
            p{
                font-size: 20px;
            }
        }
        .enviroment{
            height: 65vh;
        }
    }

    //--------------------- Product ----------------

    .product-title{
        margin: 100px 0px 50px 20px;
    }
    .slide-container{
        .product-slide{
            margin: 0px 20px;
            div{
                img{
                    width: 120px;
                    height: 120px;
                }
                p{
                    font-size: 14px;
                }
            }
            .milk-tea{
                margin-left: 15px;
            }
            .bakery{
                margin-left: 15px;
            }
        }
        i{
            display: none;
 
    
        }

        
    }

    //  ----------------------- Promotion ----------------------


}


