@import "compponent/nav";
@import "compponent/home-card";
@import "compponent/footer";
@import "main";
body{
    background-image: url(/image/home/transparent.png);

}
.bg{
    width: 100%;
    height: 80vh;
    background: url(/image/home/background-website.png);
    background-size: cover;
    background-repeat: no-repeat;
}

// ------------------------- About us --------------

.aboutus{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    .description{
        width: 45%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-size: 22px;
            margin: 0%;

            
        }
        .costumer{
            width: 100%;
            height: auto;
            border-radius: 5px;

        }
    }
    .enviroment{
        width: 45%;
        height: 100vh;
        border-radius: 5px;
    }
}

// ---------------------------------- Product ----------------------

.product-title{
    margin: 100px 0px 50px 100px;
}
.slide-container{
    width: 100%;
    width: 100%;
    position: relative;
    .product-slide{
        margin: 0px 150px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        div{
            img{
                width: 300px;
                height: 280px;
                border-radius: 5px;
            }
            p{
                text-align: center;
            }
        }
    
    }
    i{
        width: 50px;
        height: 50px;
        background: whitesmoke;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 50%;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        font-size: 1.25rem;
        transform: translateY(-50%);
        box-shadow: 0 3px 6px rgb(0, 0, 0);
        cursor: pointer;
        margin: 0px 50px;

    }
    i:first-child{
        left: -22px;
        margin-left: 100px;
    }
    i:last-child{
        right: -22px;
        margin-right: 100px;
    }
}

//--------------------- Promotion ---------------

// .promotion-container{
//     margin: 100px;
//     h2{
//         margin-bottom: 50px;
//     }
//     .promotion{
//     display: flex;
//     justify-content: space-between;
//     div{
//         width: 30%;
//         height: 450px;
//         border-radius: 10px;
//     }
//     .coupon{
//         background-image: url(/image/home/coupon.jpg);
//         background-size: cover;
//         background-repeat: no-repeat;
//         .coupon-p1{
//             margin:105px 10px 10px 0px ;
//             font-size: 36px;
//             text-align: center;
//         }
//         .coupon-p2{
//             font-size: 36px;
//             margin: 39px 10px 10px 0px;
//             text-align: center;
//         }
//     }
//     .count{
//         background-image: url(/image/home/buy.jpg);
//         background-size: cover;
//         background-repeat: no-repeat;
//         .coupon-p1{
//             margin:60px 10px 10px 0px ;
//             font-size: 36px;
//             text-align: center;
//         }
//         .coupon-p2{
//             font-size: 36px;
//             margin: 45px 10px 10px 0px;
//             text-align: center;
//         }
//     }
//     .descript{
//         background-image: url(/image/home/descript.jpg);
//         background-size: cover;
//         background-repeat: no-repeat;
//         p{
//             font-size: 24px;
//             width: 45%;
//             margin-top: 130px;
//             margin-left: 110px;
//         }
//     }
//     }

// }
.promo-container{
    margin: 100px;
    h2{
        margin: 50px 0px;
    }
    .promo{
        display: flex;
        justify-content: space-between;
        img{
            width: 30%;
            height: 450px;
            border-radius: 5px;
        }
    }
}

@media(min-width:430px) and (max-width:834px){

    .bg{
        width: 834px;
        height: 35vh;
    }

    //-------------------- Aboutus ----------------

    .aboutus{
        margin: 50px;
        height: 65vh;
        .description{
            p{
                font-size: 24px;
            }
        }
        .enviroment{
            height: 65vh;
        }
    }

    //--------------------- Product ----------------

    .product-title{
        margin: 100px 0px 50px 50px;
    }
    .slide-container{
        .product-slide{
            margin: 0px 70px;
            div{
                img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
        i{
            width: 30px;
            height: 30px;
    
        }
        i:first-child{
            margin-left: 50px;
        }
        i:last-child{
            margin-right: 50px;
        }
    }

    //  ----------------------- Promotion ----------------------

    .promotion-container{
        margin: 100px 50px 0px 50px;
        .promotion{
            display: flex;
            flex-wrap: wrap;
            height: 950px;
            div{
                width: 47%;
            }
            .coupon{
                .coupon-p1{
                    margin:115px 10px 10px 0px ;
                    font-size: 32px;
                    text-align: center;
                }
                .coupon-p2{
                    font-size: 30px;
                    margin: 40px 10px 10px 0px;
                    text-align: center;
                }
            }
            .descript{
                margin-left: 26%;
            }
        }
    
    }
    
    .promo-container{
        margin: 50px;
        h2{
            margin: 50px 0px;
        }
        .promo{
            display: flex;
            justify-content: space-between;
            img{
                width: 30%;
                height: 400px;
                border-radius: 5px;
            }
        }
    }

}
@media(min-width:0px) and (max-width:430px){

    .bg{
        width: 430px;
        height: 20vh;
    }

    //-------------------- Aboutus ----------------

    .aboutus{
        margin: 20px;
        height: 775px;
        .description{
            p{
                font-size: 20px;
            }
        }
        .enviroment{
            height: 65vh;
        }
    }

    //--------------------- Product ----------------

    .product-title{
        margin: 100px 0px 50px 50px;
    }
    .slide-container{
        .product-slide{
            margin: 0px 70px;
            div{
                img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
        i{
            width: 30px;
            height: 30px;
    
        }
        i:first-child{
            margin-left: 50px;
        }
        i:last-child{
            margin-right: 50px;
        }
    }

    //  ----------------------- Promotion ----------------------

    .promotion-container{
        margin: 100px 50px 0px 50px;
        .promotion{
            display: flex;
            flex-wrap: wrap;
            height: 950px;
            div{
                width: 47%;
            }
            .coupon{
                .coupon-p1{
                    margin:115px 10px 10px 0px ;
                    font-size: 32px;
                    text-align: center;
                }
                .coupon-p2{
                    font-size: 30px;
                    margin: 40px 10px 10px 0px;
                    text-align: center;
                }
            }
            .descript{
                margin-left: 26%;
            }
        }
    
    }

    .promo-container{
        margin: 50px;
        h2{
            margin: 50px 0px;
        }
        .promo{
            display: flex;
            justify-content: space-between;
            img{
                width: 30%;
                height: 400px;
                border-radius: 5px;
            }
        }
    }

}


