@import "compponent/nav";
@import "main";
@import "compponent/footer";
@import "mixins/responsive";

body{
    background-color: rgb(226, 226, 226);
}
.bg{
    width: 100%;
    height: 85vh;
    background: url(/image/menu/coffeemenu.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
    @include responsive('tablet') {
        height: 37vh;
    }
    @include responsive('mobile') {
        height: 55vh;
    }
}
.bestseller{
    margin: 100px;
    margin-left: 0px;
    display: flex;
    @include responsive('mobile') {
        margin-left: 0px;
        display: grid;
        grid-template-columns: auto;
    }
    .best2{
    margin-left:100px ;
    @include responsive('tablet') {
        margin-left: 40px;
    }
    @include responsive('mobile') {
        margin-left: 10px;
    }
}
    .best1{
        margin-left: 90px;
        @include responsive('tablet') {
            margin-left: 20px;
        }
        @include responsive('mobile') {
            margin-left: 10px;
        }
    }
    .best{
        background-color:white;
        width: 45%;
        padding: 20px;
        display: flex;
        margin-top: 20px;
        @include responsive('tablet') {
            width: 45%;
        }
        @include responsive('mobile') {
            width: 54%;
        }

    }
    img{
        width: 200px;
        margin-left: 50px;
        margin-top: 50px;
        @include responsive('tablet') {
            height: 110px;
            margin-left: 0px;
            margin-right: 150px;
            margin-top: 100px;
        }

    }
}
h1{
    text-align: center;
}
.menu-hot-coffee  {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    text-align: center;
    div{
        margin: 50px;
        background-color: white;
        width: 300px;
        height: 420px;
        @include responsive('tablet') {
            width: 250px;
        }
        @include responsive('mobile') {
           margin-left: 0px;
        }
        img{
            width: 200px;
        }
        h3{
            font-size:medium ;
        }
        .hotcup {
            margin-top: 85px;
            width: 160px;
            @include responsive('tablet') {
                width: 100px;
            }
            
            
        }
        .nitro{
            margin-top: 10px;
        }
        .espresso{
            height:210px;
        }
        .thailand{
            margin-top: 8px;
        }
        .europe{
            height: 190px;
            width: 300px;
            margin-top: 26px;
            @include responsive('mobile') {
                width: 250px;
                margin-right:0px;
            }
        }
        .blackforest{
            margin-top: 67px;
            width: 150px;
            height: 150px;
        }
        .greens{
            width: 150px;
            margin-top: 12px;
        }
        .trav{
            width: 150px;
            margin-top: 29px;
        }
        .papaya{
            height: 200px;
            margin-top: 8px;
           
        }
        .choco{
            width: 150px;
            margin-top: 13px;
        }
        .depth{
            width: 135px;
            margin-top: 45px;
        }
        .orange{
            width: 110px;
            margin-top: 43px;
        }
        .matcha{
            width: 126px;
            height: 160px;
            margin-top: 50px;
        }
       
    }
  
}

