@import "compponent/nav";
@import "main";
@import "compponent/footer";
body{
    background-color: rgb(224, 224, 224);
    // background-image: url(/image/home/transparent.png);
}
.bg{
    width: 100%;
    height: 85vh;
    background: url(/image/menu/menu_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.bestseller{

    margin: 100px;
    .best{
        background-color:white;
        width: 40%;
        padding: 20px;
        display: flex;
        border-radius: 10px;
    }
    img{
        width: 200px;
        margin-left: 50px;
        margin-top: 50px;
    }
}
h1{
    text-align: center;
}
.menu-hot-coffee  {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    text-align: center;
    div{
        margin: 50px;
        background-color: white;
        width: 300px;
        border-radius: 5px;
        img{
            width: 200px;
        }
        .hotcup{
            margin-top: 85px;
            
        }
       
    }
  
}
.ice-coffee{
    margin-top: 100px;
}
.about-us{
    display: none;
}