@import "variable";
@import "../mixins/responsive";

.f-back{
    @include responsive('mobile') {
        margin-top: 60px;
        margin-bottom: 0px;
    } 
}
.costumer-feedback{
    display: flex;
    justify-content: space-between;
    margin: 25px 100px 100px 100px;
    @include responsive('tablet') {
        margin: 1px 50px 50px 50px;
        height: 390px;
        display: flex;
        flex-wrap: wrap;
    }   
    @include responsive('mobile') {
        margin: 1px 20px 20px 20px;
        height: 630px;
        display: flex;
        flex-wrap: wrap;
    }   
    .costumer{
        background-color: $main-color;
        display: flex;
        width: 31%;
        height: 165px;
        margin: 0%;
        padding: 10px;
        border-radius: 10px;
        @include responsive('tablet') {
            margin-top: 30px;
            padding: 20px;
            width: 43%;
            height: 150px;
        }  
        @include responsive('mobile') {
            margin-top: 20px;
            padding: 20px;
            width: 100%;
            height: 150px;
        }  
        img{
            width: 100px;
            height: 165px;
            border-radius: 7px;
            @include responsive('tablet') {
                height: 150px;
            }  
            @include responsive('mobile') {
                height: 150px;
            }  
        }
        img:hover{
            width: 110px;
            height: 175px;
            @include responsive('tablet') {
                height: 160px;
            }  
            @include responsive('mobile') {
                height: 160px;
            }  
        }
        .feedback{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: self-end;
            width: 100%;
            margin: 0%;
            padding: 10px;
            @include responsive('tablet') {
                justify-content: center;
                align-items: self-end;
            }  
            p{
                text-align: justify;
                @include responsive('tablet') {
                    font-size: 14px;
                }  
            }
            i{
                color: $secondary-color;
                @include responsive('tablet') {
                    width: 10px;
                    margin-left: 5px;
                }  

            }
        }

    }
    .costumer3{
        @include responsive('tablet') {
            margin-left: 26%;
        }  
        @include responsive('mobile') {
            margin-left: 0%;
        }  
    }
}


