.costumer-feedback{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    .costumer{
        background-color: rgb(26, 25, 25);
        display: flex;
        width: 31%;
        height: 165px;
        margin: 0%;
        padding: 10px;
        border-radius: 10px;
        img{
            width: 100px;
            height: 165px;
            border-radius: 7px;
        }
        .feedback{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: self-end;
            width: 100%;
            margin: 0%;
            padding: 10px;
            p{
                text-align: justify;
            }
            i{
                color: rgb(212, 212, 7);

            }
        }
    }
}

@media(min-width:431px) and (max-width:834px){
    
    .costumer-feedback{
        margin: 100px 50px;
        height: 390px;
        display: flex;
        flex-wrap: wrap;
        .costumer{
            margin-top: 30px;
            padding: 20px;
            width: 43%;
            height: 150px;
            img{
                height: 150px;
            }
            .feedback{
                justify-content: center;
                align-items: self-end;
                p{
                    font-size: 14px;
                }
                i{
                    width: 10px;
                    margin-left: 5px;
                }
            }
        }
        .custumer3{
            margin-left: 26%;
        }
    }
}
@media(min-width:0px) and (max-width:430px){
    
    .costumer-feedback{
        margin: 80px 20px;
        height: 650px;
        display: flex;
        flex-wrap: wrap;
        .costumer{
            margin-top: 30px;
            padding: 20px;
            width: 100%;
            height: 150px;
            img{
                height: 150px;
            }
            .feedback{
                justify-content: center;
                align-items: self-end;
                p{
                    font-size: 14px;
                }
                i{
                    width: 10px;
                    margin-left: 5px;
                }
            }
        }

    }
}